<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
     <add name="database" connectionString="Data Source=172.16.127.6;Initial Catalog=CAR;User ID=sa;Password=coop34LF4roRu1z" providerName="System.Data.SqlClient" /> 
  </connectionStrings>
</configuration>